* {
  box-sizing: border-box;
}

body {
  margin: 0;
  user-select: none;
  -webkit-app-region: drag;
}

.app {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  background: #c3efff;
  border-radius: 10px;
  border: 1px solid #000;
}

#weather {
  display: block;
}
#day {
  display: block;
}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.clouds-1 {
  position: absolute;
  top: 39px;
  height: 78px;
  width: 100%;
  image-rendering: pixelated;
  pointer-events: none;
  z-index: 2;
  display: block;
}

.clouds-1 img {
  position: absolute;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  animation: float 2s steps(6) infinite;
}

.clouds-2 {
  position: absolute;
  top: 108px;
  height: 78px;
  width: 100%;
  image-rendering: pixelated;
  pointer-events: none;
  z-index: 2;
  display: block;
}

.clouds-2 img {
  position: absolute;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  animation: float 2s steps(6) infinite;
}

.cloud1 {
  left: 18px;
  top: 20px;
}
.cloud2 {
  left: 102px;
  top: 4px;
}
.cloud3 {
  left: 154px;
  top: 42px;
}
.cloud4 {
  left: 216px;
  top: 10px;
}
.cloud5 {
  left: 274px;
  top: 46px;
}
.cloud6 {
  left: 318px;
  top: 0px;
}

.clouds-1 .cloud1 {
  animation-duration: 1900ms;
  animation-delay: -200ms;
}
.clouds-1 .cloud2 {
  animation-duration: 2300ms;
  animation-delay: -900ms;
}
.clouds-1 .cloud3 {
  animation-duration: 2700ms;
  animation-delay: -1400ms;
}
.clouds-1 .cloud4 {
  animation-duration: 2100ms;
  animation-delay: -500ms;
}
.clouds-1 .cloud5 {
  animation-duration: 2500ms;
  animation-delay: -1700ms;
}
.clouds-1 .cloud6 {
  animation-duration: 3000ms;
  animation-delay: -1100ms;
}

.clouds-2 .cloud1 {
  animation-duration: 3200ms;
  animation-delay: -1200ms;
}
.clouds-2 .cloud2 {
  animation-duration: 2800ms;
  animation-delay: -600ms;
}
.clouds-2 .cloud3 {
  animation-duration: 3600ms;
  animation-delay: -2000ms;
}
.clouds-2 .cloud4 {
  animation-duration: 3000ms;
  animation-delay: -1500ms;
}
.clouds-2 .cloud5 {
  animation-duration: 3400ms;
  animation-delay: -900ms;
}
.clouds-2 .cloud6 {
  animation-duration: 2600ms;
  animation-delay: -1700ms;
}

@keyframes tree-sway-frames {
  0% {
    background-position: 0px 0;
  }
  25% {
    background-position: -173px 0;
  }
  50% {
    background-position: -346px 0;
  }
  75% {
    background-position: -519px 0;
  }
  100% {
    background-position: 0px 0;
  }
}
.trees {
  position: absolute;
  top: 132px;
  height: 200px;
  width: 100%;
  pointer-events: none;
  z-index: 3;
}

.tree {
  position: absolute;
  width: 173px;
  height: 200px;
  background-image: url("assets/tree.png");
  background-repeat: no-repeat;
  image-rendering: pixelated;
  will-change: background-position;
}

.tree1 {
  left: -18px;
  animation: tree-sway-frames 2s steps(1) infinite;
  animation-duration: 1.3s;
  z-index: 6;
}
.tree2 {
  left: 80px;
  animation: tree-sway-frames 2s steps(1) infinite;
  animation-duration: 1.4s;
  z-index: 4;
}
.tree3 {
  left: 162px;
  animation: tree-sway-frames 2s steps(1) infinite;
  animation-duration: 0.9s;
  z-index: 6;
}
.tree4 {
  left: 256px;
  animation: tree-sway-frames 2s steps(1) infinite;
  animation-duration: 1.1s;
  z-index: 5;
}

.big-star {
  position: absolute;
  top: 54px;
  left: 297px;
  height: 64px;
  width: 64px;
  image-rendering: pixelated;
  pointer-events: none;
  z-index: 1;
  display: block;
  background: url(assets/sun.png);
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  animation: float 1s steps(1) infinite;
}

.bottom-section {
  position: absolute;
  top: 331px;
  width: 100%;
  height: 70px;

  border-top: 1px solid #69776b;
  background: rgba(100, 84, 3, 0.86);
  z-index: 9;
}

.grass-rectangle {
  width: 100%;
  height: 15px;
  border-bottom: 1px solid #fff;
  background: #6eff78;
  z-index: 9;
}

.bottom-content {
  display: flex;
  height: 54px;
  padding: 0 12px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.date {
  display: flex;
  width: 250px;
  height: 54px;
  flex-direction: row;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  line-height: 1;
  white-space: nowrap;

  color: #fff;
  text-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: Pixeboy;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#time {
  display: inline-flex;
  width: 150px;
  height: 54px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1;
  white-space: nowrap;
  color: #fff;
  text-align: center;
  text-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: Pixeboy;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.75px;
}

@keyframes weather-frames {
  0% {
    background-position: 0px 0;
  }
  50% {
    background-position: -400px 0;
  }
  100% {
    background-position: 0px 0;
  }
}

.weather-condition {
  display: block;
  position: absolute;
  width: 400px;
  height: 287px;
  top: 44px;
  z-index: 7;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  will-change: background-position;
  animation: weather-frames 2s steps(1) infinite;
}

.blur {
  position: absolute;
  inset: 0;
  z-index: 8;
  background: rgba(129, 198, 255, 0.2);
  pointer-events: none;
}

.bubble {
  top: 82px;
  left: 29px;
  z-index: 9;
  position: absolute;
  width: 332px;
  height: 84px;
  border-radius: 15px;
  border: 2px solid #001906;
  background: rgba(186, 227, 255, 0.8);
}

#weather-content {
  display: flex;
  width: 332px;
  height: 84px;
  flex-direction: column;
  justify-content: center;
  color: #000;
  text-align: center;
  font-family: "Pixelify Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.top-section {
  position: absolute;
  display: flex;
  top: 0;
  width: 100%;
  width: 400px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #000;
  background: #9edaff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  z-index: 9;
  padding: 7px 16px;
  align-items: center;
  flex-shrink: 0;
}

.title {
  display: flex;
  width: 292px;
  height: 44px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #2fc739;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #005c06;
  font-family: Pixeboy;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#temperature {
  display: flex;
  width: 92px;
  height: 44px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #2fc739;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #005c06;
  font-family: "Pixelify Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
